<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<h1>Hello, welcome to Twizzer {{ username }}</h1>
	<b>Search:</b>
	<form method="post" action='/search_main'>{% csrf_token %}
		<label><b>Enter Timestamp:</b></label>
		<br/>
		<input type="text" name="timestamp" value=""/>
		<br/>
		<label><b>Enter Limit:</b></label>
		<br/>
		<input type="text" name="limit" value=""/>
		<br/>
		<label><b>Enter Search Username:</b></label>
		<br/>
		<input type="text" name="username" value=""/>
		<br/>
		<label><b>Enter Search Query:</b></label>
		<br/>
		<input type="text" name="q" value=""/>
		<br/>
		<label><b>Select show following only:</b></label>
		<br/>
		
		  <input type="radio" name="following" value="true" checked> True<br>
		  <input type="radio" name="following" value="false" > False<br> 
		 
		<button type="submit">Search</button>
	</form>
	<br/>
	<b>Additem:</b>
	<form method="post" action='/additem_main'>{% csrf_token %}
		<label><b>Enter Content:</b></label>
		<br/>
		<input type="text" name="content" value=""/>
		<br/>
		<button type="submit">Add</button>
	</form>
	<b>Add item:</b>
	<form method="post" action='/item_main'>{% csrf_token %}
		<label><b>Enter id:</b></label>
		<br/>
		<input type="text" name="id" value=""/>
		<br/>
		<input type="hidden" name="add_bool" value="true">
		<button type="submit">Search</button>
	</form>
	<b>Delete item:</b>
	<form method="post" action='/item_main'>{% csrf_token %}
		<label><b>Enter id:</b></label>
		<br/>
		<input type="text" name="id" value=""/>
		<br/>
		<input type="hidden" name="add_bool" value="false">
		<button type="submit">Delete</button>
	</form>
	<b>Follow user:</b>
	<form method="post" action='/follow_main'>{% csrf_token %}
		<label><b>Enter User:</b></label>
		<br/>
		<input type="text" name="username" value=""/>
		<br/>
		<input type="hidden" name="add_bool" value="true">
		<button type="submit">Follow</button>
	</form>
	<b>UnFollow user:</b>
	<form method="post" action='/follow_main'>{% csrf_token %}
		<label><b>Enter User:</b></label>
		<br/>
		<input type="text" name="username" value=""/>
		<br/>
		<input type="hidden" name="add_bool" value="false">
		<button type="submit">Follow</button>
	</form>
	<b>User Profile:</b>
	<form method="post" action='/user_main'>{% csrf_token %}
		<label><b>Enter User:</b></label>
		<br/>
		<input type="text" name="username" value=""/>
		<br/>
		<button type="submit">Follow</button>
	</form>
	<b>User followers:</b>
	<form method="post" action='/follower_main'>{% csrf_token %}
		<label><b>Enter User:</b></label>
		<br/>
		<input type="text" name="username" value=""/>
		<br/>
		<button type="submit">Follow</button>
	</form>
	<b>User following:</b>
	<form method="post" action='/following_main'>{% csrf_token %}
		<label><b>Enter User:</b></label>
		<br/>
		<input type="text" name="username" value=""/>
		<br/>
		<button type="submit">Follow</button>
	</form>
	<b>Like:</b>
	<form method="post" action='/like_main'>{% csrf_token %}
		<label><b>Enter Item:</b></label>
		<br/>
		<input type="text" name="item" value=""/>
		<br/>
		<button type="submit">Like</button>
	</form>
	<b>UnLike:</b>
	<form method="post" action='/unlike_main'>{% csrf_token %}
		<label><b>Enter Item:</b></label>
		<br/>
		<input type="text" name="item" value=""/>
		<br/>
		<button type="submit">UnLike</button>
	</form>
	<b>Upload Media:</b>
	<form method="post" action="upload" enctype="multipart/form-data">
	    {% csrf_token %}
	    <input type="file" name="myfile">
	    <button type="submit">Upload</button>
	  </form>
	  <b>Get Media:</b>
	<form method="post" action='getmedia'>{% csrf_token %}
		<label><b>Enter Item:</b></label>
		<br/>
		<input type="text" name="item" value=""/>
		<br/>
		<button type="submit">GET</button>
	</form>
</body>
</html>
